@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <h1>
        <p>Use this area to provide additional information.</p>
    </h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Captain 2017</h2>
        <p class="">
            <h4>Bob Smith</h4>
            <img class="img-circle" src="~/Content/Images/Captains/BobSmith.jpg" alt="Bob Smith" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">View Profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Latest Newsletter</h2>
        <p>February 2017</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">View Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>Bob Smith is the Current Player of the Year Leader on 23 points</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Full Details &raquo;</a></p>
    </div>
</div>