f
f@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>3rd April 2017 - Abborts Hall </h1>
    <p class="lead">Next event is at the lovely Abborts Hall Golf Club where members will be competing for the 
    for the coverted President's Cup
    .</p>
    <p>@Html.ActionLink("Apply Now", "Contact", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest Results</h2>
        <p>
            Ashridge Golf Club - 3rd March 2017
        </p>
        <p>@Html.ActionLink("Full Details", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Latest Newsletter</h2>
        <p>February 2017</p>
        <p>@Html.ActionLink("View Here", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboard</h2>
        <p>Bob Smith is the Current Player of the Year Leader on 23 points</p>
        <p>@Html.ActionLink("Full Details", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
</div>